* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background: #ffffff;
    padding: 0 10px;
    width: 100%; 
    margin: 0 auto;
}

.container {
    background-image: url('../images/greyfloral.png');
    width: 100%;
    padding: 2rem 1rem 20rem;
}

h1, h2 {
    color: #4aaaa5;
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #ccc;
    margin-left: 10px;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
}

.nav-links {
    float: right; 
    position: relative;
    right: 15%;
    padding-top: 35px;   
}

a {
    color: #777;
    text-decoration: none;
}

#name {
    float: left;
    position: relative;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 1rem;
    border-bottom: none;
}


section {
    color: #777777;
    background-image: url('../images/greyfloral.png');
    padding: 3rem;
    margin-bottom: 2rem;
}


article {
    position: relative;
    border-top: 1px solid #cccccc;
    color: #777;
    background: #ffffff;
    padding: 20px;
}


p {
    padding: 18px 10px 10px 0;
    margin: 10px;
    width: 100%;

}

img {
    position: relative;
    top: 10px;
    margin-right: 10px;
    max-width: 130px;
    max-height: 240px;
    padding-right: 1rem;
}

/* All about that grid */
.portfolio {
    display: inline-block;
    position: relative;
    border: 1px solid #cccccc;
    color: #777;
    margin: 0 auto;
    width: 100%
}

.block {
    display: grid;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 20px;
    width: 100%;
}

.row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.card {
    float: left;
    margin: 20px;
    background: #ebebeb;
    height: 150px;
    width: 200px;
    background-image: url(http://placekitten.com/200/150);
}
@media (min-width:640px) {
    .block {
        display: inline-block;
    }
}

@media (min-width:980px) {
    .block {
        width: 575px;
    }
    .portfolio {
        width: 575px;
    }
}



/* .hangman {
    grid-area: hangman;
}

.rpg {
    grid-area: rpg;
}

.trivia {
    grid-area: trivia;
}

.rutgers {
    grid-area: rutgers;
}

.rock {
    grid-area: rock;
} */

/* .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

[class^=col-]{
    grid-column-end: span 12;
} 
/* what should replicate bootstrap col system */
@media (min-width: 768px)
.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
 */

/* 
@media (min-width: 0) {
    .col-xs-1 {
        grid-column-end: span 1;
    }
    .col-xs-2 {
        grid-column-end: span 2;
    }
    .col-xs-3 {
        grid-column-end: span 3;
    }
    .col-xs-4 {
        grid-column-end: span 4;
    }
    .col-xs-5 {
        grid-column-end: span 5;
    }
    .col-xs-6 {
        grid-column-end: span 6;
    }
    .col-xs-7 {
        grid-column-end: span 7;
    }
    .col-xs-8 {
        grid-column-end: span 8;
    }
    .col-xs-9 {
        grid-column-end: span 9;
    }
    .col-xs-10 {
        grid-column-end: span 10;
    }
    .col-xs-11 {
        grid-column-end: span 11;
    }
    .col-xs-12 {
        grid-column-end: span 12;
    }
}

@media (min-width: 640px) {
    .col-sm-1 {
        grid-column-end: span 1;
    }
    .col-sm-2 {
        grid-column-end: span 2;
    }
    .col-sm-3 {
        grid-column-end: span 3;
    }
    .col-sm-4 {
        grid-column-end: span 4;
    }
    .col-sm-5 {
        grid-column-end: span 5;
    }
    .col-sm-6 {
        grid-column-end: span 6;
    }
    .col-sm-7 {
        grid-column-end: span 7;
    }
    .col-sm-8 {
        grid-column-end: span 8;
    }
    .col-sm-9 {
        grid-column-end: span 9;
    }
    .col-sm-10 {
        grid-column-end: span 10;
    }
    .col-sm-11 {
        grid-column-end: span 11;
    }
    .col-sm-12 {
        grid-column-end: span 12;
    }
}
*/
/* @media (min-width: 768) {
    .col-md-1 {
        grid-column-end: span 1;
    }
    .col-md-2 {
        grid-column-end: span 2;
    }
    .col-md-3 {
        grid-column-end: span 3;
    }
    .col-md-4 {
        grid-column-end: span 4;
    }
    .col-md-5 {
        grid-column-end: span 5;
    }
    .col-md-6 {
        grid-column: span 6;
    }
    .col-md-7 {
        grid-column-end: span 7;
    }
    .col-md-8 {
        grid-column-end: span 8;
    }
    .col-md-9 {
        grid-column-end: span 9;
    }
    .col-md-10 {
        grid-column-end: span 10;
    }
    .col-md-11 {
        grid-column-end: span 11;
    }
    .col-md-12 {
        grid-column-end: span 12;
    }
} */
/*

@media (min-width: 980) {
    .col-lg-1 {
        grid-column-end: span 1;
    }
    .col-lg-2 {
        grid-column-end: span 2;
    }
    .col-lg-3 {
        grid-column-end: span 3;
    }
    .col-lg-4 {
        grid-column-end: span 4;
    }
    .col-lg-5 {
        grid-column-end: span 5;
    }
    .col-lg-6 {
        grid-column-end: span 6;
    }
    .col-lg-7 {
        grid-column-end: span 7;
    }
    .col-lg-8 {
        grid-column-end: span 8;
    }
    .col-lg-9 {
        grid-column-end: span 9;
    }
    .col-lg-10 {
        grid-column-end: span 10;
    }
    .col-lg-11 {
        grid-column-end: span 11;
    }
    .col-lg-12 {
        grid-column-end: span 12;
    }
}
@media (min-width: 1200) {
    .col-xl-1 {
        grid-column-end: span 1;
    }
    .col-xl-2 {
        grid-column-end: span 2;
    }
    .col-xl-3 {
        grid-column-end: span 3;
    }
    .col-xl-4 {
        grid-column-end: span 4;
    }
    .col-xl-5 {
        grid-column-end: span 5;
    }
    .col-xl-6 {
        grid-column-end: span 6;
    }
    .col-xl-7 {
        grid-column-end: span 7;
    }
    .col-xl-8 {
        grid-column-end: span 8;
    }
    .col-xl-9 {
        grid-column-end: span 9;
    }
    .col-xl-10 {
        grid-column-end: span 10;
    }
    .col-xl-11 {
        grid-column-end: span 11;
    }
    .col-xl-12 {
        grid-column-end: span 12;
    }
}  */



#contact {
    padding-bottom: 15px;
}

.form {
    border-top: 1px solid #ccc;
}

#contact-form {
    padding: 20px;
}

input {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

#message {
    height: 100px;
}

#button {
    color: white;
    width: 100px;
    background-color: #4aaaa5;
    padding: 10px 15px;
}

.blue-bar {
    float: left;
    position: absolute;
    width: 200px;
    right: 0%;
    bottom: 5px;
    background-color: #4aaaa5;
    padding: 15px;
    color: #ffffff;
}

.blue-bar-rpg {
    float: left;
    position: absolute;
    width: 200px;
    right: 196px;
    top: 157px;
    background-color: #4aaaa5;
    padding: 15px;
    color: #ffffff;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin: -32px -16px;
}


#sticky-footer {
flex-shrink: none;
}